{% extends 'base.html' %}

{% block govde %}

    <div class="container">
    {% for gonderi in gonderis %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card" >
                    <div class="card-body" >
                        {%if gonderi.image %}
                            <img src="{{gonderi.image.url}}" class="image-responsive">
                        {% endif %}
                        <h2> {{ gonderi.baslik }} <small> {{gonderi.yayin_tarihi }} </small> </h2>
                        <h4> Yazar: {{ gonderi.kullanici.get_full_name}}</h4>   <!--bir gonderiye yazar bilgisi ekleme ve bunu yaparken yazarın sisteme giriş yaptığı kullanıcıadı -->
                        <p> {{ gonderi.yazi|safe|linebreaks|truncatechars:150}} </p>
                        <p><a href="{{gonderi.get_absolute_url}}" class="btn btn-primary">Detayı..</a>
                            {%if request.user.is_authenticated %}
                                <a href=" {{gonderi.get_update_url}}" class="btn btn-default"> Güncelle</a>
                                <a href=" {{gonderi.get_delete_url}}" class="btn btn-danger"> Sil </a>
                            {%endif%}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pagination">
                <span class="step-links">
                    {% if gonderis.has_previous %}
                        <a href="?Sayfa={{ gonderis.previous_page_number }}">önceki</a>
                    {% endif %}

                    <span class="current">
                        Sayfa {{gonderis.number }} of {{ gonderis.paginator.num_pages }}.
                    </span>

                    {% if gonderis.has_next %}
                        <a href="?Sayfa={{ gonderis.next_page_number }}">sonraki</a>
                    {% endif %}
                    </span>
            </div>

        </div>
    </div>

    </div>
{% endblock %}

